MONGO_INITDB_ROOT_USERNAME=
MONGO_INITDB_ROOT_PASSWORD=
MONGO_HOST=
MONGO_PORT=
MONGO_DB_NAME=
MONGO_OPTIONS=
PORT=
API_KEY=
JWT_ACCESS_SECRET=
JWT_ACCESS_EXPIRATION=
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRATION=
MAILER_HOST=
MAILER_PORT=
MAILER_AUTH_USER=
MAILER_AUTH_PASS=
MAILER_EMAIL_FROM_NAME=
MAILER_EMAIL_FROM_DOMAIN=
